workflows/Automa Instagram.json
{
  "name": "Automa Instagram",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6804a4ce-8aee-465b-8bf1-262aef69673c",
              "leftValue": "={{ $('normalizacao').item.json.isEcho }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        512,
        240
      ],
      "id": "d6b3b9e2-1712-421f-b193-e7a3d15975ef",
      "name": "blok Minhas msg1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1392,
        416
      ],
      "id": "a336aaff-65a7-4c31-9ba1-e7f6cccc1db6",
      "name": "Wait1",
      "webhookId": "694fbf97-ffa7-459e-98b9-b88198c0a062"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1392,
        64
      ],
      "id": "588aea60-3ebf-4e40-a563-bf89454d654f",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "637ebbf0-a9a3-4ea5-a80b-221a9d649029",
              "name": "list_msg",
              "value": "={{ $('Switch2').item.json.list_msg.map(item => JSON.parse(item).text).join('\\n') }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1616,
        240
      ],
      "id": "a34576dd-e827-4111-978e-dcef7b71f574",
      "name": "formatar msg"
    },
    {
      "parameters": {
        "operation": "push",
        "list": "=msgs_bf_{{ $('normalizacao').first().json.senderId }}",
        "messageData": "={{ JSON.stringify($('normalizacao').first().json.msg) }}",
        "tail": true
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        736,
        240
      ],
      "id": "db2a003d-28e0-4de6-93fa-ffdf7af52cdd",
      "name": "add  buffer",
      "credentials": {
        "redis": {
          "id": "OUH79xRwxkNvxrFa",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "propertyName": "list_msg",
        "key": "=msgs_bf_{{ $('normalizacao').first().json.senderId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        960,
        240
      ],
      "id": "1c162267-38c6-4afc-a79c-b41a29e27c36",
      "name": "buscar msgs buffer",
      "credentials": {
        "redis": {
          "id": "OUH79xRwxkNvxrFa",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "key": "=msgs_bf_{{ $('normalizacao').first().json.senderId }}"
      },
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [
        1392,
        240
      ],
      "id": "a1ca03e2-9c7b-48d4-b36c-091f8400bff5",
      "name": "limpar buffer",
      "credentials": {
        "redis": {
          "id": "OUH79xRwxkNvxrFa",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('normalizacao').first().json.msg.text }}",
                    "rightValue": "={{ JSON.parse($('buscar msgs buffer').first().json.list_msg[0]).text }}",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "48c1026b-fc62-4a92-b35f-4086671a8876"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Fazer nada"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ac626e7e-cebd-45c5-96b9-cd34ac4171de",
                    "leftValue": "={{ $json.list_msg.last().parseJson().Timestamp }}",
                    "rightValue": "={{ $now.minus(5,'seconds') }}",
                    "operator": {
                      "type": "dateTime",
                      "operation": "before"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Prosseguir"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Esperar"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1152,
        224
      ],
      "id": "3fb58c64-ff0d-4143-b9f6-b26c86d3b6aa",
      "name": "Switch2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('formatar msg').first().json.list_msg }}",
        "options": {
          "systemMessage": "=# Role & Persona\nVocê é **Nova**, assistente virtual da NovaTech Soluções no Instagram.\nObjetivo: Apresentar os produtos (NovaBOT, NovaFLOW, NovaREPORTS), qualificar leads e dar suporte inicial.\nIdioma: Português do Brasil (PT-BR).\nTom: Amigável, direto, profissional e conciso (máx. 3 linhas). Use emojis com moderação (máx. 1).\n\n---\n\n# 🛠️ USO OBRIGATÓRIO DE FERRAMENTAS (TOOLS)\n**REGRA DE OURO:** Se o usuário perguntar sobre **Produtos, Planos, Preços, Funcionalidades, Integrações ou Automação**, você **DEVE** acionar a tool `base_conhecimento_novatech`.\n\n**Instruções de Execução:**\n1. Receba a pergunta sobre produtos ou dúvidas técnicas.\n2. Acione `base_conhecimento_novatech` com a dúvida específica.\n3. **Resuma** a resposta da tool em 1-2 frases simples.\n4. Finalize perguntando se a pessoa quer mais detalhes ou valores.\n\n**⛔ PROIBIDO:**\n- NÃO invente preços, planos ou funcionalidades que a tool não retornou.\n- NÃO ofereça descontos ou negocie valores — encaminhe para o time comercial.\n- NÃO envie links ou processe pagamentos sem autorização explícita.\n- Se a tool não retornar nada: \"Vou confirmar essa informação com nosso time. Posso pegar seu contato?\"\n\n---\n\n# 🎯 Fluxos de Conversa\n\n### 1. Vendas & Interesse (Lead Gen)\nSe demonstrar interesse em comprar ou testar:\n- Peça: Nome, produto de interesse e melhor e-mail ou telefone.\n- Exemplo: \"Ótimo! Para te enviar os detalhes do plano certo, qual seu nome e melhor e-mail?\"\n- Lembre que todos os planos têm **14 dias grátis**, sem cartão de crédito.\n\n### 2. Mensagens Longas\nResuma a dor do cliente e confirme antes de consultar.\n- Exemplo: \"Entendi que você precisa de [tópico]. Deixa eu consultar aqui... [Usa Tool]. [Resumo]. Resolve?\"\n\n### 3. Suporte / Problemas Técnicos\nPeça uma descrição curta do problema. Se for complexo, ofereça transbordo.\n- Exemplo: \"Pode descrever o erro em 1 linha ou mandar um print? Assim encaminho direto para o técnico.\"\n\n### 4. Transbordo (Humano)\nSe o usuário pedir humano, estiver irritado ou for caso de reembolso/reclamação formal:\n- \"Entendo. Vou chamar um especialista da NovaTech. Confirma seu telefone ou e-mail para contato?\"\n\n---\n\n# Exemplos de Resposta (Few-Shot)\n\nUser: \"Vocês integram com HubSpot?\"\nNova: [USA TOOL] \"Sim! O NovaFLOW integra nativamente com HubSpot e mais de 80 plataformas. Quer ver como funciona?\"\n\nUser: \"Qual o preço?\"\nNova: [USA TOOL] \"Temos planos a partir de R$ 97/mês. Qual canal você quer automatizar? Assim te indico o plano ideal.\"\n\nUser: \"Preciso automatizar meu WhatsApp e Instagram\"\nNova: [USA TOOL] \"O NovaBOT Profissional cobre até 3 canais, incluindo WhatsApp e Instagram. Quer começar com 14 dias grátis?\"\n\nUser: \"Precisa saber programar?\"\nNova: [USA TOOL] \"Não! Tudo é visual, arrasta e solta. Qualquer pessoa consegue configurar sem código.\"\n\nUser: \"Quero falar com alguém\"\nNova: \"Claro 👋 Vou te conectar com um especialista. Qual seu telefone ou e-mail para contato?\"\n\nUser: \"Olá\"\nNova: \"Olá 👋 Sou a Nova, assistente da NovaTech. Posso te ajudar com automação, chatbots ou relatórios automáticos. O que você precisa?\"\n\n---\n\n# Formato de Saída\nApenas o texto da resposta final para o usuário. Sem pensamentos internos visíveis."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1840,
        240
      ],
      "id": "06949506-7bfe-4a2a-9dd7-ac3a197402f4",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1744,
        464
      ],
      "id": "8884daf9-b71f-49c6-bd7a-9c0baa557296",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "uSXPtfqxgwNl6ihV",
          "name": "OpenAI WACRM"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2384,
        240
      ],
      "id": "69631f81-b366-4b55-a5f7-37676e3818d3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2560,
        240
      ],
      "id": "828b2ca4-42c5-4dc0-a48c-c44560f266c6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4c2a9b7-4442-4281-bab4-f015733a1978",
              "name": "output",
              "value": "={{ $json.output.split('\\n\\n') }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2192,
        240
      ],
      "id": "caed0ae2-459c-4bc4-828c-41aea612489b",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "recipientId": "={{ $('normalizacao').first().json.senderId }}",
        "messageText": "={{ $json.output }}"
      },
      "type": "n8n-nodes-instagram-token.instagram",
      "typeVersion": 1,
      "position": [
        2816,
        256
      ],
      "id": "e3d2ba99-4dbc-4456-8381-dd06e7dc920c",
      "name": "Send a text message",
      "credentials": {
        "instagramAccessTokenApi": {
          "id": "sE92wTyusgrroi01",
          "name": "Instagram_WACRM"
        }
      }
    },
    {
      "parameters": {
        "events": [
          "messages",
          "comments"
        ]
      },
      "type": "n8n-nodes-instagram-token.instagramTrigger",
      "typeVersion": 1,
      "position": [
        -528,
        240
      ],
      "id": "bda4d31f-cd76-4696-91d6-2127b7b748e6",
      "name": "Instagram Trigger",
      "webhookId": "936b7264-373c-423d-85bb-e84f928a6709",
      "credentials": {
        "instagramAccessTokenApi": {
          "id": "sE92wTyusgrroi01",
          "name": "Instagram_WACRM"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ef911879-07bc-4f89-aabf-48d1525a1229",
              "name": "senderId",
              "value": "={{ $json.senderId }}",
              "type": "string"
            },
            {
              "id": "0552acda-0fb9-4afa-9969-f7e110f92dfc",
              "name": "eventType",
              "value": "={{ $json.eventType }}",
              "type": "string"
            },
            {
              "id": "34194276-d994-4577-aa81-5a81c75ce35e",
              "name": "recipientId",
              "value": "={{ $json.recipientId }}",
              "type": "string"
            },
            {
              "id": "f1519857-4d83-4322-a541-c9c5252b8f01",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "76234c63-7475-4d36-a0ac-e5617f0954a1",
              "name": "entryId",
              "value": "={{ $json.entryId }}",
              "type": "string"
            },
            {
              "id": "b29a2b5d-3e24-42d6-bcd7-b36af30a92bc",
              "name": "timestamp",
              "value": "={{ $json.timestamp }}",
              "type": "string"
            },
            {
              "id": "a9f39fc9-ed81-410e-b9cd-ff0f14ee1dd6",
              "name": "isEcho",
              "value": "={{ $json.isEcho }}",
              "type": "boolean"
            },
            {
              "id": "5f6839d4-cc97-49ab-b46a-499f899cf375",
              "name": "msg.text",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "2ada23ae-2dc0-4c4b-88a8-e49564a92ec5",
              "name": "msg.Timestamp",
              "value": "={{ $json.timestamp.toDateTime('ms') }}",
              "type": "string"
            },
            {
              "id": "ea226e13-ac40-4293-97c8-07cb4e5a310f",
              "name": "url_wacrm",
              "value": "https://wacrm.autofunil.com.br",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        224
      ],
      "id": "56756365-9a7d-4520-b270-19276cf40e3c",
      "name": "normalizacao"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('normalizacao').item.json.url_wacrm }}/api/v1/instagram/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \n  \"instagram_id\": \"{{ $('normalizacao').first().json.senderId }}\",\n  \"content_type\": \"text\",\n  \"text\": {{ JSON.stringify($('Loop Over Items').item.json.output) }},\n  \"instagram_username\": \"@teste_teste\",\n  \"sender_type\": \"agent\"\n}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "3b9d5d5c-7862-4ff7-b034-aa7b027b3bfb",
      "name": "Sender Type Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3072,
        256
      ],
      "executeOnce": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "SeWp9X3mRnODjbKZ",
          "name": "Bearer Auth WACRM"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('normalizacao').item.json.url_wacrm }}/api/v1/instagram/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \n  \"instagram_id\": \"{{ $('normalizacao').first().json.senderId }}\",\n  \"content_type\": \"text\",\n  \"text\": \"{{ $('normalizacao').first().json.msg.text }}\",\n  \"instagram_username\": \"@teste_teste\",\n  \"sender_type\": \"customer\"\n}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      },
      "id": "ba9e0367-36c3-4f0f-96cc-d4f0513c2d63",
      "name": "Sender Type Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        16,
        224
      ],
      "executeOnce": true,
      "credentials": {
        "httpBearerAuth": {
          "id": "SeWp9X3mRnODjbKZ",
          "name": "Bearer Auth WACRM"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=memory_{{ $('normalizacao').first().json.senderId }}",
        "contextWindowLength": 15
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        1920,
        480
      ],
      "id": "6a27f39e-ddba-4e33-8f33-612e50f56018",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "OUH79xRwxkNvxrFa",
          "name": "Redis account"
        }
      }
    }
  ],
  "pinData": {
    "Instagram Trigger": [
      {
        "json": {
          "senderId": "805905602035495",
          "recipientId": "17841476536878349",
          "timestamp": 1783434463495,
          "entryId": "17841476536878349",
          "eventType": "message",
          "messageId": "aWdfZAG1faXRlbToxOklHTWVzc2FnZAUlEOjE3ODQxNDc2NTM2ODc4MzQ5OjM0MDI4MjM2Njg0MTcxMDMwMTI0NDI3NjA3Mjc5ODgyOTQwMzUwMjozMjg5ODU1OTEyMDMzNTE5MTIwNjk1OTYzNTgzODc5NTc3NgZDZD",
          "text": "Teste",
          "isEcho": false
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "blok Minhas msg1": {
      "main": [
        [
          {
            "node": "add  buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "buscar msgs buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "formatar msg": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "add  buffer": {
      "main": [
        [
          {
            "node": "buscar msgs buffer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "buscar msgs buffer": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "limpar buffer": {
      "main": [
        [
          {
            "node": "formatar msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "limpar buffer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Sender Type Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram Trigger": {
      "main": [
        [
          {
            "node": "normalizacao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalizacao": {
      "main": [
        [
          {
            "node": "Sender Type Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender Type Agent": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sender Type Customer": {
      "main": [
        [
          {
            "node": "blok Minhas msg1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "03da5cd7-e340-45b2-be07-5a48fa3cac13",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19779e7dd7b4c0d2c94560b4f5a2a5da0360275eeb4cfbb9eebed8cbc5a28cb0"
  },
  "id": "i962Dz3oG967LOLZ",
  "tags": []
}