workflows/Sender Message Instagram.json
{
  "name": "Sender Message Instagram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "da26ff5f-c1a9-4ff5-ac00-6fb9d1b8a7d7",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        208
      ],
      "id": "f2c29b72-a3ad-4fd6-ac46-e28fdc4aa7ad",
      "name": "Webhook",
      "webhookId": "da26ff5f-c1a9-4ff5-ac00-6fb9d1b8a7d7"
    },
    {
      "parameters": {
        "recipientId": "={{ $('normalize').first().json.body.instagram_id }}",
        "messageText": "={{ $('normalize').item.json.body.content_text }}"
      },
      "type": "n8n-nodes-instagram-token.instagram",
      "typeVersion": 1,
      "position": [
        672,
        -80
      ],
      "id": "4175ebd7-62b1-47eb-a6fd-c713f2f65d3b",
      "name": "Send a text message",
      "credentials": {
        "instagramAccessTokenApi": {
          "id": "sE92wTyusgrroi01",
          "name": "Instagram_WACRM"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('normalize').item.json.body.message_type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "84c45dda-9a15-40ed-9ba2-b5a72505c148"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "17653655-abaf-42c9-aa84-a3e784f1554e",
                    "leftValue": "={{ $('normalize').item.json.body.message_type }}",
                    "rightValue": "image",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "0802a6bf-b676-4565-a1c3-fd112fe4d9fd",
                    "leftValue": "={{ $('normalize').item.json.body.message_type }}",
                    "rightValue": "video",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Video"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bd341917-5d66-4f46-826a-8e63a233c223",
                    "leftValue": "={{ $('normalize').item.json.body.message_type }}",
                    "rightValue": "document",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Document"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "9bbccd3c-583d-4850-af4b-fd240496c1af",
                    "leftValue": "={{ $('normalize').item.json.body.message_type }}",
                    "rightValue": "audio",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        448,
        160
      ],
      "id": "ab337658-25f4-4eef-bbd8-89356c58d968",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "51e09073-a31e-4deb-8e9c-0307a4c3ea1f",
              "name": "body.message_type",
              "value": "={{ $json.body.message_type }}",
              "type": "string"
            },
            {
              "id": "24bc6c11-b31b-47aa-97cf-6ae8c05b68d3",
              "name": "body.instagram_id",
              "value": "={{ $json.body.instagram_id }}",
              "type": "string"
            },
            {
              "id": "eb61ceb2-347c-4e55-9cfc-598316eb7a6f",
              "name": "body.content_text",
              "value": "={{ $json.body.content_text }}",
              "type": "string"
            },
            {
              "id": "3e6b8817-1af1-4964-9be5-c6e01de0e2e1",
              "name": "body.media_url",
              "value": "={{ $json.body.media_url }}",
              "type": "string"
            },
            {
              "id": "b7e03cc5-fa5f-4401-ba31-6a4fd930c968",
              "name": "body.filename",
              "value": "={{ $json.body.filename }}",
              "type": "string"
            },
            {
              "id": "ec059b98-b23b-4305-9085-4208ccf6ae3d",
              "name": "body.reply_to_message_id",
              "value": "={{ $json.body.reply_to_message_id }}",
              "type": "string"
            },
            {
              "id": "30c0540d-6e11-455b-a252-b0a1c43a1cf8",
              "name": "body.account_id",
              "value": "={{ $json.body.account_id }}",
              "type": "string"
            },
            {
              "id": "0d41a3f8-ce7e-42d1-8a1b-e1bb8aa39272",
              "name": "body.conversation_id",
              "value": "={{ $json.body.conversation_id }}",
              "type": "string"
            },
            {
              "id": "dfd5364f-493e-45f9-a806-09715da31cb0",
              "name": "body.contact_id",
              "value": "={{ $json.body.contact_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        208
      ],
      "id": "d1d93b5f-eff6-4e58-9f7b-b907806d8c7b",
      "name": "normalize"
    },
    {
      "parameters": {
        "operation": "sendImage",
        "recipientId": "={{ $('normalize').first().json.body.instagram_id }}",
        "imageUrl": "={{ $('normalize').first().json.body.media_url }}"
      },
      "type": "n8n-nodes-instagram-token.instagram",
      "typeVersion": 1,
      "position": [
        672,
        112
      ],
      "id": "c0abf7d3-7cc2-4129-8532-a057ccb44ef0",
      "name": "Send an image message",
      "credentials": {
        "instagramAccessTokenApi": {
          "id": "sE92wTyusgrroi01",
          "name": "Instagram_WACRM"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "recipientId": "={{ $('normalize').first().json.body.instagram_id }}",
        "videoUrl": "={{ $json.body.media_url }}"
      },
      "type": "n8n-nodes-instagram-token.instagram",
      "typeVersion": 1,
      "position": [
        672,
        304
      ],
      "id": "b2eb7e01-1e84-408e-a477-61278f18e6b4",
      "name": "Send a video message",
      "credentials": {
        "instagramAccessTokenApi": {
          "id": "sE92wTyusgrroi01",
          "name": "Instagram_WACRM"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendButtonTemplate",
        "recipientId": "={{ $('normalize').first().json.body.instagram_id }}",
        "messageText": "={{ $('normalize').item.json.body.content_text }}",
        "buttons": {
          "button": [
            {
              "title": "Acessar",
              "url": "={{ $('normalize').item.json.body.media_url }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-instagram-token.instagram",
      "typeVersion": 1,
      "position": [
        672,
        496
      ],
      "id": "4bf8d5a4-0962-4761-8772-c1166cc52244",
      "name": "Send a button template message",
      "credentials": {
        "instagramAccessTokenApi": {
          "id": "sE92wTyusgrroi01",
          "name": "Instagram_WACRM"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "webhook.autofunil.com.br",
            "user-agent": "node",
            "content-length": "514",
            "accept": "*/*",
            "accept-encoding": "br, gzip, deflate",
            "accept-language": "*",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "172.18.0.1",
            "x-forwarded-host": "webhook.autofunil.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "dd28f80f8b93",
            "x-real-ip": "172.18.0.1"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "message.send",
            "account_id": "742f82a0-0cf1-43c7-a192-8b6811d0cd18",
            "conversation_id": "e59bc1d6-e561-43d5-882a-ee6369a28435",
            "contact_id": "6cb50d0b-5a29-4cac-8515-43a4f66b460b",
            "instagram_id": "805905602035495",
            "instagram_username": "@teste_teste",
            "message_type": "audio",
            "content_text": null,
            "media_url": "https://dnaleyuhfhzxusdqhlqd.supabase.co/storage/v1/object/public/chat-media/account-742f82a0-0cf1-43c7-a192-8b6811d0cd18/1783454755106-voice-1783454754439.ogg",
            "filename": null,
            "reply_to_message_id": null
          },
          "webhookUrl": "https://webhook.autofunil.com.br/webhook/da26ff5f-c1a9-4ff5-ac00-6fb9d1b8a7d7",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send an image message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a video message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a button template message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "normalize": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "627116a1-7655-4ed3-88b8-b7500e48d79e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19779e7dd7b4c0d2c94560b4f5a2a5da0360275eeb4cfbb9eebed8cbc5a28cb0"
  },
  "id": "GaEhlWrcKm1NWRzC",
  "tags": []
}